.BOLD{
    background-color: black;
    height: 200px;
    width:250px;
}
.a{
    font-family: Arial;
    font-weight: bold;
    font-size: medium;
    color: white;
}
.b{
    font-family: Arial;
    font-size: small;
    color: grey;
}